@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  display: flex;
}
.contain {
  width: 100%;
}
.drawer {
  width: 17%;
}
.flex {
  color: antiquewhite;
}
input {
  background-color: white;
}
.errormsg {
  justify-content: center;
  align-items: center;
  margin-left: 24rem;
}
